Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore

@olesya-tretyakova
olesya-tretyakova
/
koleso-tests
Public
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
koleso-tests/.gitignore
@olesya-tretyakova
olesya-tretyakova init commit
Latest commit c20f372 10 days ago
 History
 1 contributor
41 lines (36 sloc)  393 Bytes

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# Project gen files
.idea
.allure/
.gradle/
allure-results/
gradle/
build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
/gradlew
/gradlew.bat
.todo
*.properties
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete